n8n/workflows/daily-price-sync.json
{
  "id": "p1sGXQQsBDuWHMX8",
  "name": "daily-price-sync",
  "active": false,
  "isArchived": false,
  "versionId": "5123a76a-6c92-4a04-baea-77ce99c41286",
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "connections": {
    "Schedule Trigger (06:00 daily)": {
      "main": [[{"node": "GET /sources", "type": "main", "index": 0}]]
    },
    "GET /sources": {
      "main": [[{"node": "Split by source", "type": "main", "index": 0}]]
    },
    "All sources processed": {
      "main": [[{"node": "GET /productos", "type": "main", "index": 0}]]
    },
    "GET /productos": {
      "main": [[{"node": "Format for Excel", "type": "main", "index": 0}]]
    },
    "Format for Excel": {
      "main": [[{"node": "Generate Excel", "type": "main", "index": 0}]]
    },
    "Generate Excel": {
      "main": [[{"node": "Compress Excel", "type": "main", "index": 0}]]
    },
    "Compress Excel": {
      "main": [[{"node": "Send Report Email", "type": "main", "index": 0}]]
    },
    "Switch on type": {
      "main": [
        [{"node": "POST /scrape/api",     "type": "main", "index": 0}],
        [{"node": "POST /scrape/static",  "type": "main", "index": 0}],
        [{"node": "POST /scrape/dynamic", "type": "main", "index": 0}],
        [{"node": "POST /scrape/sitemap", "type": "main", "index": 0}]
      ]
    },
    "POST /scrape/api":     {"main": [[{"node": "Merge branches", "type": "main", "index": 0}]]},
    "POST /scrape/static":  {"main": [[{"node": "Merge branches", "type": "main", "index": 1}]]},
    "POST /scrape/dynamic": {"main": [[{"node": "Merge branches", "type": "main", "index": 2}]]},
    "POST /scrape/sitemap": {"main": [[{"node": "Merge branches", "type": "main", "index": 3}]]},
    "Merge branches": {
      "main": [[{"node": "Pack products", "type": "main", "index": 0}]]
    },
    "Split by source": {
      "main": [
        [{"node": "All sources processed", "type": "main", "index": 0}],
        [{"node": "Switch on type",        "type": "main", "index": 0}]
      ]
    },
    "Pack products": {
      "main": [[{"node": "DELETE old rows (Supabase)", "type": "main", "index": 0}]]
    },
    "DELETE old rows (Supabase)": {
      "main": [[{"node": "INSERT new rows (Supabase)", "type": "main", "index": 0}]]
    },
    "INSERT new rows (Supabase)": {
      "main": [[{"node": "Split by source", "type": "main", "index": 0}]]
    },
    "Manual Trigger": {
      "main": [[{"node": "GET /productos", "type": "main", "index": 0}]]
    }
  },
  "nodes": [
    {
      "id": "4e2afb29-5f36-46fd-b189-b03c299fa62f",
      "name": "Schedule Trigger (06:00 daily)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 496],
      "parameters": {
        "rule": {"interval": [{"field": "cronExpression", "expression": "0 6 * * *"}]}
      }
    },
    {
      "id": "d482f738-19d2-4820-9f59-0b04157331db",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [672, 1088],
      "parameters": {}
    },
    {
      "id": "8c16710d-7385-44c0-93aa-8d3c4874ab68",
      "name": "GET /sources",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [224, 496],
      "parameters": {"url": "={{ $env.SCRAPER_URL }}/sources", "options": {}}
    },
    {
      "id": "f49bb217-a798-48e5-bce6-5d9922c3f5a9",
      "name": "All sources processed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [672, 0],
      "parameters": {}
    },
    {
      "id": "bc9d21c4-0989-4762-b3ff-4e9f53e9c99a",
      "name": "GET /productos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [896, 0],
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/productos?order=fuente.asc,descripcion.asc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey",        "value": "={{ $env.SUPABASE_ANON_KEY }}"},
            {"name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_ANON_KEY }}"}
          ]
        },
        "options": {}
      }
    },
    {
      "id": "acfdece6-2e63-4ec8-8edf-8f297a720008",
      "name": "Format for Excel",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 0],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const items = $input.all();\nconst formatted = items.map(item => {\n  const r = item.json || {};\n  return {\n    \"Empresa\":              r.empresa              ?? \"\",\n    \"Código Producto\":      r.codigo_producto      ?? \"\",\n    \"Descripción\":          r.descripcion          ?? \"\",\n    \"Marca\":                r.marca                ?? \"\",\n    \"Tipo de Producto\":     r.tipo_producto        ?? \"\",\n    \"Familia\":              r.familia_producto     ?? \"\",\n    \"Subtipo\":              r.subtipo_producto     ?? \"\",\n    \"Categoría\":            r.categoria            ?? \"\",\n    \"Jerarquía Completa\":   r.categoria_completa   ?? \"\",\n    \"Precio\":               r.precio               ?? null,\n    \"Precio Lista\":         r.precio_lista         ?? null,\n    \"Precio sin Impuestos\": r.precio_sin_impuestos ?? null,\n    \"Disponibilidad\":       r.disponibilidad       ?? \"\",\n    \"Unidad\":               r.unidad_medida        ?? \"\",\n    \"Multiplicador\":        r.multiplicador_unidad ?? null,\n    \"URL Producto\":         r.url_producto         ?? \"\",\n  };\n});\nreturn formatted.map(json => ({ json }));"
      }
    },
    {
      "id": "09d125d1-805b-466b-8ec7-573b56206a5f",
      "name": "Generate Excel",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [1344, 0],
      "parameters": {
        "operation": "xlsx",
        "options": {"fileName": "=precios-{{ $now.format('yyyy-MM-dd') }}.xlsx"}
      }
    },
    {
      "id": "7691f9f4-6cfb-433b-994c-b3af16f06af8",
      "name": "Compress Excel",
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [1568, 0],
      "parameters": {
        "operation": "compress",
        "outputFormat": "zip",
        "fileName": "=precios-{{ $now.format('yyyy-MM-dd') }}.zip"
      }
    },
    {
      "id": "3d7167d3-1da5-4dcb-ac35-03b7df7ca55b",
      "name": "Send Report Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1792, 0],
      "webhookId": "55d2eba5-d0ec-4d51-b1a4-e0c304da32a1",
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $env.REPORT_EMAIL_TO }}",
        "subject": "=Precios BIMEG — {{ $now.format('dd/MM/yyyy') }}",
        "emailType": "text",
        "message": "Adjunto el reporte de precios del día.",
        "options": {
          "attachmentsUi": {"attachmentsBinary": [{}]},
          "senderName": "BIMEG Precios"
        }
      }
    },
    {
      "id": "a5de821e-f92d-475f-876e-3fe7a5b217e1",
      "name": "Split by source",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [448, 496],
      "parameters": {"options": {}}
    },
    {
      "id": "9805c48f-42a2-4aed-be9e-61beaf006297",
      "name": "Switch on type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [672, 464],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1},
                "conditions": [{"id": "cond-api",     "leftValue": "={{ $json.type }}", "rightValue": "api",     "operator": {"type": "string", "operation": "equals"}}],
                "combinator": "and"
              },
              "renameOutput": true, "outputKey": "api"
            },
            {
              "conditions": {
                "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1},
                "conditions": [{"id": "cond-static",  "leftValue": "={{ $json.type }}", "rightValue": "static",  "operator": {"type": "string", "operation": "equals"}}],
                "combinator": "and"
              },
              "renameOutput": true, "outputKey": "static"
            },
            {
              "conditions": {
                "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1},
                "conditions": [{"id": "cond-dynamic", "leftValue": "={{ $json.type }}", "rightValue": "dynamic", "operator": {"type": "string", "operation": "equals"}}],
                "combinator": "and"
              },
              "renameOutput": true, "outputKey": "dynamic"
            },
            {
              "conditions": {
                "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1},
                "conditions": [{"id": "cond-sitemap", "leftValue": "={{ $json.type }}", "rightValue": "sitemap", "operator": {"type": "string", "operation": "equals"}}],
                "combinator": "and"
              },
              "renameOutput": true, "outputKey": "sitemap"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "1fc670bd-01f2-4e3a-b685-abb95ce92811",
      "name": "POST /scrape/api",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [896, 208],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SCRAPER_URL }}/scrape/api",
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={\n  \"source_name\": \"{{ $json.name }}\"\n}",
        "options": {"timeout": 600000}
      }
    },
    {
      "id": "d676e3e6-d29d-41d6-bfd6-775fda3710d1",
      "name": "POST /scrape/static",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [896, 400],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SCRAPER_URL }}/scrape/static",
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={\n  \"source_name\": \"{{ $json.name }}\"\n}",
        "options": {}
      }
    },
    {
      "id": "ee733afe-ae72-4e7d-8435-8df9337eebe3",
      "name": "POST /scrape/dynamic",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [896, 592],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SCRAPER_URL }}/scrape/dynamic",
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={\n  \"source_name\": \"{{ $json.name }}\"\n}",
        "options": {}
      }
    },
    {
      "id": "f1e33112-6a77-4cdb-8fef-22e5c50fef04",
      "name": "POST /scrape/sitemap",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [896, 784],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SCRAPER_URL }}/scrape/sitemap",
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={\n  \"source_name\": \"{{ $json.name }}\"\n}",
        "options": {"timeout": 600000}
      }
    },
    {
      "id": "a38b68e5-94fb-42cc-88ce-8a09df834293",
      "name": "Merge branches",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1120, 464],
      "parameters": {"mode": "append", "numberInputs": 4}
    },
    {
      "id": "d5760fd8-94ea-45c0-8195-0afb3dba59cd",
      "name": "Pack products",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1344, 496],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const items = $input.all();\nconst sourceName = $('Split by source').item.json.name;\nconst productos = items.map(i => i.json).filter(p => p && p.descripcion);\nreturn [{ json: { source_name: sourceName, productos, count: productos.length } }];"
      }
    },
    {
      "id": "cb38f1d6-e27b-4ba6-8e0d-6b44d7d8786b",
      "name": "DELETE old rows (Supabase)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1568, 496],
      "parameters": {
        "method": "DELETE",
        "url": "={{ $env.SUPABASE_URL }}/productos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [{"name": "fuente", "value": "=eq.{{ $('Pack products').item.json.source_name }}"}]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey",        "value": "={{ $env.SUPABASE_ANON_KEY }}"},
            {"name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_ANON_KEY }}"}
          ]
        },
        "options": {}
      }
    },
    {
      "id": "d743d81a-0796-4068-a315-7b617a98f446",
      "name": "INSERT new rows (Supabase)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1792, 688],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/productos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey",        "value": "={{ $env.SUPABASE_ANON_KEY }}"},
            {"name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_ANON_KEY }}"},
            {"name": "Content-Type",  "value": "application/json"},
            {"name": "Prefer",        "value": "return=minimal"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Pack products').item.json.productos }}",
        "options": {"response": {"response": {"neverError": true}}}
      }
    }
  ],
  "tags": [],
  "meta": {"aiBuilderAssisted": true, "builderVariant": "mcp"},
  "description": "Sincroniza precios desde APIs y scraping a Supabase. Genera Excel (sin Fuente/Proveedor/SKU/EAN/Actualizado), lo comprime en ZIP y lo envía por email."
}
