n8n/workflows/daily-price-sync.json
{
  "name": "daily-price-sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Schedule Trigger (06:00 daily)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SCRAPER_URL }}/sources",
        "options": {}
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "GET /sources",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "Split by source",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "cond-api",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "api",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "api"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "cond-static",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "static",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "static"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "cond-dynamic",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "dynamic",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "dynamic"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "cond-sitemap",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "sitemap",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sitemap"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "Switch on type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [920, 420]
    },
    {
      "parameters": {
        "jsCode": "// TODO: implementar consumo de fuentes tipo 'api' (endpoint + field_mappings)\n// Por ahora devuelve array vacío para que el pipeline no falle.\n// Los datos de la fuente están en $input.first().json — incluye endpoint, auth_header, auth_value, field_mappings, etc.\nreturn [];"
      },
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "Fetch API source (TODO)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1160, 240]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SCRAPER_URL }}/scrape/static",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"source_name\": \"{{ $json.name }}\"\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0006-4000-8000-000000000006",
      "name": "POST /scrape/static",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1160, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SCRAPER_URL }}/scrape/dynamic",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"source_name\": \"{{ $json.name }}\"\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0007-4000-8000-000000000007",
      "name": "POST /scrape/dynamic",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1160, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SCRAPER_URL }}/scrape/sitemap",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"source_name\": \"{{ $json.name }}\"\n}",
        "options": {}
      },
      "id": "a1b2c3d4-000d-4000-8000-00000000000d",
      "name": "POST /scrape/sitemap",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1160, 780]
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "id": "a1b2c3d4-0008-4000-8000-000000000008",
      "name": "Merge branches",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1380, 420]
    },
    {
      "parameters": {
        "jsCode": "// Agrupa todos los productos de esta iteración en un único array\n// y los adjunta al nombre de la fuente (tomado del Split by source).\n//\n// OUTPUT único: { source_name, productos: [...] }\n// Esto es lo que consumen los dos nodos siguientes (DELETE y POST a Supabase).\n\nconst items = $input.all();\nconst sourceName = $('Split by source').item.json.name;\n\nconst productos = items.map(i => i.json).filter(p => p && p.descripcion);\n\nreturn [\n  {\n    json: {\n      source_name: sourceName,\n      productos,\n      count: productos.length\n    }\n  }\n];"
      },
      "id": "a1b2c3d4-0009-4000-8000-000000000009",
      "name": "Pack products",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1600, 420]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/productos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fuente",
              "value": "=eq.{{ $json.source_name }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_ANON_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-000a-4000-8000-00000000000a",
      "name": "DELETE old rows (Supabase)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1820, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/productos",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.productos) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "a1b2c3d4-000b-4000-8000-00000000000b",
      "name": "INSERT new rows (Supabase)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2040, 420]
    },
    {
      "parameters": {},
      "id": "a1b2c3d4-000c-4000-8000-00000000000c",
      "name": "All sources processed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [920, 160]
    }
  ],
  "connections": {
    "Schedule Trigger (06:00 daily)": {
      "main": [
        [
          {
            "node": "GET /sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /sources": {
      "main": [
        [
          {
            "node": "Split by source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split by source": {
      "main": [
        [
          {
            "node": "All sources processed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch on type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch on type": {
      "main": [
        [{"node": "Fetch API source (TODO)", "type": "main", "index": 0}],
        [{"node": "POST /scrape/static",     "type": "main", "index": 0}],
        [{"node": "POST /scrape/dynamic",    "type": "main", "index": 0}],
        [{"node": "POST /scrape/sitemap",    "type": "main", "index": 0}]
      ]
    },
    "Fetch API source (TODO)": {
      "main": [
        [
          {
            "node": "Merge branches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /scrape/static": {
      "main": [
        [
          {
            "node": "Merge branches",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "POST /scrape/dynamic": {
      "main": [
        [
          {
            "node": "Merge branches",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "POST /scrape/sitemap": {
      "main": [
        [
          {
            "node": "Merge branches",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge branches": {
      "main": [
        [
          {
            "node": "Pack products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pack products": {
      "main": [
        [
          {
            "node": "DELETE old rows (Supabase)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DELETE old rows (Supabase)": {
      "main": [
        [
          {
            "node": "INSERT new rows (Supabase)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT new rows (Supabase)": {
      "main": [
        [
          {
            "node": "Split by source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "1.0.0",
  "pinData": {},
  "meta": {
    "description": "Sincroniza precios de materiales de construcción desde APIs y páginas web a Supabase. Se ejecuta diariamente a las 06:00 hora local. Iterando sobre cada fuente habilitada en sources.yml: obtiene productos → borra la fuente en Supabase → inserta los nuevos."
  }
}
